
 @import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
 
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
body {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
/*--------- shared style start-------------*/
.display-flex{
    display: flex;
}
.dark-2{
    color: #424242;
}

.dark-3{
    color: #727272;
}
.btn-primary{
    padding: 10px 20px;
    border: none;
    margin: 20px 0;
    border-radius: 8px;
    color: white;
    background: rgb(255, 144, 14);
}
.background-color{
    background: rgba(255, 144, 14, 0.1);
}
.btn-primary:hover{
    background: rgb(226, 181, 129);
    color: #424242;
}
/*------------ shared style end ------------*/

/* header */
.header{
width: 80%;
margin: 0 auto;
padding: 50px 150px;
}
.nav{
    justify-content: space-between;
    align-items: center;
}
.brand-name{
    font-weight: 700;
    font-size: 2.5rem;
}
.list-items{
    list-style: none;
}
.list-items a{
    text-decoration: none;
    font-weight: 700;
}
.item{
    margin-right: 60px;
}

.item:last-child{
    margin-right: 0;
}

/* banner */
.banner-content{
    width: 50%;
    margin: 0 auto;
    text-align:center;
}
.banner-title{
    font-size: 3rem;
    margin: 40px 0;
}
.banner img{
    width: 100%;
}
/* teams start*/
.teams,.teams-container{
    width: 70%;
    padding: 20px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.team-content-title{
    margin-bottom: 20px;
}
.features{
    color: #FF900E;
}
/* teams end*/
/* features-you-will-love-container */
.features-you-will-love-container{
    width: 70%;
    margin: 0 auto;
    gap: 50px;
}
.feature-content{
    padding-left: 30px;
        width: 50%;
        height: 100%;
}
.feature-content-title{
    border-left: 2px solid #FF900E;
    padding-left: 20px;
}
.description{
    margin: 20px 5px;
}
.item:last-child {
    background-color: #424242;
    margin: 0;
    color: white;
}
.features-pic{
    width: 50%;
}
#architect-pic{
    width: 100%;
    height: 100%;
}
.item{
    box-shadow: 2px 1px 2px rgb(236, 234, 230);
    border-radius: 12px;
    padding: 10px;
    margin-bottom: 30px;
}

.year10{
    width: 200px;
    text-align: center;
    padding: 20px 50px;
    margin: 0 auto;
    position: relative;
    bottom: 100px;
}

/* Responsive design start */

@media screen and (min-width:993px)and (max-width:1500px) {
    .header {
        width: 95%;
        padding: 20px;
    }

    /* .teams {
        flex-direction: column;
    } */

    .features-pic {
        width: 100%;
    }

    .item {
        box-shadow: 2px 1px 2px rgb(236, 234, 230);
        border-radius: 12px;
        padding: 10px;
        margin-bottom: 10px;
        width: 100%;
    }

    /* .features-you-will-love-container {
        flex-direction: column-reverse;
    } */

    .feature-content {
        padding: 10px;
        width: 100%;
        height: 100%;
    }
}

@media screen and (min-width:576px)and (max-width:992px) {
    .header {
        width: 95%;
        padding: 20px;
    }

    .teams {
        flex-direction: column;
    }

    .features-pic {
        width: 100%;
    }

    .item {
        box-shadow: 2px 1px 2px rgb(236, 234, 230);
        border-radius: 12px;
        padding: 10px;
        margin-bottom: 10px;
        width: 100%;
    }

    .features-you-will-love-container {
        flex-direction: column-reverse;
    }

    .feature-content {
        padding: 10px;
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width:576px){
    .display-flex{
        flex-direction: column;
    }
        .header {
            width: 95%;
            padding: 20px;
        }
        .banner-content{
            width: 90%;
        }
                .banner-title {
                    font-size: 1.5em;
                    margin: 20px 0;
                }
                       .features-pic {
                   width: 100%;
                  }
.item {
    box-shadow: 2px 1px 2px rgb(236, 234, 230);
    border-radius: 12px;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.features-you-will-love-container{
    flex-direction: column-reverse;
}

.feature-content {
    padding: 10px;
    width: 100%;
    height: 100%;
}

}





/* Responsive design end */